<button type="button" class="btn btn-danger round mr-5 mt-2 right" (click)="deleteArr()"
    [disabled]="arr.length==0">Delete</button>

<button type="button" class="btn btn-success round mr-2 mt-2 right" (click)="openModal(addProduct)">Add Product</button>
<ng-template #addProduct>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="">Product Name</label>
                <input formControlName="productName" class="form-control" type="text" id="" required>
                <span class="text-danger"
                    *ngIf="addProductForm.controls.productName.invalid && addProductForm.controls.productName.dirty">
                    Name is required</span>
            </div>
            <div class="form-group">
                <label for="">Price</label>
                <input formControlName="productPrice" class="form-control" type="number" id="">
                <span class="text-danger"
                    *ngIf="addProductForm.controls.productPrice.invalid && addProductForm.controls.productPrice.dirty">
                    Price is required</span>
            </div>
            <div class="form-group">
                <label for="">Code</label>
                <input formControlName="productCode" class="form-control" type="text" id="">
                <span class="text-danger"
                    *ngIf="addProductForm.controls.productCode.invalid && addProductForm.controls.productCode.dirty">
                    Code is required</span>
            </div>
            <div class="pull-right">
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-danger" type="reset" (click)="modalRef.hide()">close</button>
            </div>
        </form>
    </div>
</ng-template>
<div class="container mt-5">
    <div class="row justify-content-center">
        <product-item (sendToParent)="addToBeDeletedArr($event)" class="col-lg-3 col-md-4 col-sm-1"
            *ngFor="let prod of pData" [product]="prod"></product-item>
    </div>

</div>
<h2 *ngIf="data.length==0" class="text-center mt-5">No Products</h2>
<pagination class="right mr-5 mt-3" [totalItems]="data.length" [itemsPerPage]=3 (pageChanged)="pageChanged($event)">
</pagination>