<!-- <div class="col-lg-3 col-md-2 col-sm-1"> -->
<div class="cat-card">
    <div class="cat-card__body">
        <img [src]="product.image" alt="category-img" srcset="">
        <!-- <div class="cat-card__overlay">
            <a href="#"><i class="fas fa-angle-right"></i></a>
        </div> -->
    </div>
    <div class="cat-card__footer">
        <h5 class="cat-card__text">{{product.name}}</h5>
        <h6 class="cat-card__subtext">{{product.price}}$</h6>
        <h6 class="cat-card__subtext pb-5">Code:{{product.code}}</h6>
        <div class="cat-card__edit">
            <i class="fas fa-edit" (click)="openModal(edit)"></i>
        </div>
        <div class="cat-card__delete">
            <input type="checkbox" name="delete" id="" (click)="deleteFn($event,product.id)" />
        </div>
        <!-- <span>delete</span> -->
    </div>
</div>
<!-- </div> -->

<ng-template #edit>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editProductForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="">Product Name</label>
                <input formControlName="productName" class="form-control" type="text" id="" [value]="product.name"
                    required>
            </div>
            <div class="form-group">
                <label for="">Price</label>
                <input formControlName="productPrice" class="form-control" type="number" id="" [value]="product.price">
            </div>
            <div class="pull-right">
                <button class="btn btn-success" type="submit"
                    [disabled]="editProductForm.controls.productName.invalid && editProductForm.controls.productPrice.invalid">Save</button>
                <button class="btn btn-danger" type="reset" (click)="modalRef.hide()">close</button>
            </div>
        </form>
    </div>
</ng-template>