<!-- <div class="col-lg-3 col-md-2 col-sm-1"> -->
<div class="cat-card">
    <div class="cat-card__body">
        <img [src]="product.image" alt="category-img" srcset="">
        <!-- <div class="cat-card__overlay">
            <a href="#"><i class="fas fa-angle-right"></i></a>
        </div> -->
    </div>
    <div class="cat-card__footer">
        <h5 class="cat-card__text--left">{{product.name}}</h5>
        <a href="#"><i class="fas fa-edit"></i></a>
        <input type="checkbox" name="delete" id="" />
        <!-- <span>delete</span> -->
    </div>
</div>
<!-- </div> -->